[submodule "foundry/lib/chainlink-brownie-contracts"]
	path = foundry/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "foundry/lib/foundry-devops"]
	path = foundry/lib/foundry-devops
	url = https://github.com/Cyfrin/foundry-devops
[submodule "foundry/lib/forge-std"]
	path = foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lottery-sm/contract/lib/forge-std"]
	path = lottery-sm/contract/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lottery-sm/contract/lib/chainlink-brownie-contracts"]
	path = lottery-sm/contract/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "lottery-sm/contract/lib/solmate"]
	path = lottery-sm/contract/lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "lottery-sm/contract/lib/foundry-devops"]
	path = lottery-sm/contract/lib/foundry-devops
	url = https://github.com/Cyfrin/foundry-devops
[submodule "foundry-NFT/lib/forge-std"]
	path = foundry-NFT/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "foundry-NFT/lib/openzeppelin-contracts"]
	path = foundry-NFT/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "foundry-NFT/lib/foundry-devops"]
	path = foundry-NFT/lib/foundry-devops
	url = https://github.com/ChainAccelOrg/foundry-devops
[submodule "foundry-stablecoin/lib/forge-std"]
	path = foundry-stablecoin/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "foundry-stablecoin/lib/openzeppelin-contracts"]
	path = foundry-stablecoin/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "foundry-stablecoin/lib/chainlink-brownie-contracts"]
	path = foundry-stablecoin/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "merkle-airdrop/lib/forge-std"]
	path = merkle-airdrop/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "merkle-airdrop/lib/openzeppelin-contracts"]
	path = merkle-airdrop/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "merkle-airdrop/lib/murky"]
	path = merkle-airdrop/lib/murky
	url = https://github.com/dmfxyz/murky
[submodule "upgraable-contract/lib/forge-std"]
	path = upgraable-contract/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "upgraable-contract/lib/openzeppelin-contracts-upgradeable"]
	path = upgraable-contract/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
[submodule "account-abstraction/lib/forge-std"]
	path = account-abstraction/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "account-abstraction/lib/account-abstraction"]
	path = account-abstraction/lib/account-abstraction
	url = https://github.com/eth-infinitism/account-abstraction
[submodule "account-abstraction/lib/openzepplin-contracts"]
	path = account-abstraction/lib/openzepplin-contracts
	url = https://github.com/OpenZepplin/openzepplin-contracts
[submodule "account-abstraction/lib/openzeppelin-contracts"]
	path = account-abstraction/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
